@'
# Αγνόησε τα πάντα
*

# Κράτα αυτά (και τα περιεχόμενά τους)
!.gitignore
!Unclebenskyjump.sln
!Unclebenskyjump/**
!include/**
!bin/**

# Extra ignores (αν χρειάζονται)
.vs/
lib/
x64/
*.user
*.log
*.opendb
'@ | Set-Content -NoNewline .gitignore