@"
# Ignore everything by default
*

# Keep these (and their contents)
!.gitignore
!Unclebenskyjump.sln
!Unclebenskyjump/
!Unclebenskyjump/**
!include/
!include/**
!bin/S
!bin/**

# Extra ignores
.vs/
lib/
x64/
*.user
*.log
*.opendb
"@ | Set-Content -Encoding ASCII .gitignore

# Έλεγξε το περιεχόμενο:
type .gitignore